.hbpcontainer{
	margin-left: auto;
	margin-right: auto;
	margin-top: 9%;
}

.hallBluePrint{
	display:none;
}


.fbpcontainer{
	position: absolute;
	top: 5%;
	right:5%;
	width:10%;
}


.foldedBluePrint{
	display: block;
	width: 100%;
	height: auto;
}

.foldedBluePrint:hover{
	filter: brightness(70%);
}

